.container {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
}

.innerContainer {
  font-size: clamp(1.6em, 2vw, 2.5em);
  margin: 0.25rem 0 0 0.125rem;

  @media (min-width: 1200px) {
    margin-left: 0.25rem;
  }
}
