.article {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  cursor: pointer;
  padding: 1rem;
  position: relative;
  top: 0;
  transition: top ease 0.1s;

  &:hover {
    cursor: pointer;
    top: -2px;
  }
}

.title {
  font-size: clamp(1.8em, 4vw, 2.2em);
  font-weight: 600;
  margin: 0;
}

.description {
  font-weight: 600;
  margin: 0.25rem 0 0;
}

// .tagList {
//   display: grid;
//   gap: 2vw;
//   grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
//   margin: 1rem 0;
//   width: 100%;
// }

// .tag {
//   border: black solid 1px;
//   border-radius: 5px;
//   text-align: center;
// }

.excerpt {
  font-size: 1.2em;
  margin: 1rem 0 0;
}

.timestamp {
  display: inline-block;
  font-style: italic;
  margin-top: 0.25rem;
}
