.contactForm {
  display: flex;
  flex-flow: column nowrap;

  @media (min-width: 850px) {
    max-width: 50%;
  }
}

.contactLabel {
  font-size: 1.6em;
  font-weight: 600;
}

.contactInput {
  background: hsla(248, 3%, 97%, 0.8);
  border: none;
  // border-left: hsl(248, 30%, 44%) solid 2px;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  font-size: 1.8em;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}

.contactTextArea {
  background: hsla(248, 3%, 97%, 0.8);
  border: none;
  // border-left: hsl(248, 30%, 44%) solid 2px;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  font-size: 1.8em;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
}

.contactSubmit {
  background: hsl(248, 30%, 44%);
  border: none;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  top: 0;
  transition: top ease 0.1s;
  width: 10rem;

  &:hover {
    cursor: pointer;
    top: -2px;
  }
}

.confirmationMessage {
  font-size: 1.8em;
}

.resetForm {
  background: hsl(248, 30%, 44%);
  border: none;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  color: white;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.7px;
  margin: 0 auto;
  padding: 1rem 0;
  position: relative;
  top: 0;
  transition: top ease 0.1s;
  width: 10rem;

  &:hover {
    cursor: pointer;
    top: -2px;
  }
}
