:root {
  --htmlFontSize: 16px;
  --bodyFontSize: 62.5%;
  --h1FontSize: clamp(3.3em, 4.5vw, 7em);
  --h2FontSize: clamp(2.5em, 4vw, 4em);
  --primaryFontSize: clamp(1.4em, 3vw, 1.8em);
}

html,
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  list-style: disc;
  margin: 0;
  padding: 0;
}

body {
  font-size: var(--bodyFontSize);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, Segoe UI, Roboto, Helvetica Neue, sans-serif;
}

h1 {
  font-size: var(--h1FontSize);
}

h2 {
  font-size: var(--h2FontSize);
}

a {
  color: hsl(248, 92%, 5%);
  text-decoration: none;
}
