.main {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: clamp(10rem, 10vw, 10rem) auto 0;
  max-width: 90em;
  padding: 0 clamp(0.8rem, 8vw, 3rem);
  width: 100%;
}
