.repoCard {
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  list-style: none;
  padding: 1rem;
  position: relative;
  top: 0;
  transition: top ease 0.1s;

  &:hover {
    cursor: pointer;
    top: -2px;
  }
}

.repoHeading {
  margin: 0;
  text-transform: capitalize;
}

.repoDescription {
  margin: 1rem 0 0;
}

.liveLinkWrapper {
  margin: 1rem 0 0;
}

.repoLiveLink {
  border: hsl(248, 30%, 44%) solid 2px;
  border-radius: 5px;
  font-weight: 600;
  margin: 0.5rem 0 0;
  padding: 0.125rem 0.25rem;

  &:hover {
    background: hsl(248, 30%, 44%);
    color: white;
  }
}
