.trialCard {
  border: none;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  list-style: none;
  padding: 0.25rem 0.5rem;
}
.trialHeading {
  margin: 0;
}
.trialTimestamp {
  display: block;
  margin: 0;
}
.trialDescription {
  margin: 0;
}
