.promoSection {
  align-items: flex-start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100vh;
}

.promoHeading {
  font-size: clamp(3.3em, 4.5vw, 5em);
}

.promoDescription {
  font-size: clamp(1.4em, 2vw, 2.5em);
  margin: 0.25rem 0 0;
}
