.siteFooter {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: relative;
  padding-bottom: 2vh;
  width: 100%;

  & > section {
    margin-bottom: 2vh;
  }

  & > nav:not(:last-child) {
    margin-bottom: 2vh;
  }
}

.credentialSection {
  & > p {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.8em;
    justify-content: center;
    margin-bottom: 0;

    & > span:first-child {
      margin-right: 0.25em;
    }
  }
}

.buildNav {
  & > ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.65em;
    justify-content: center;
    margin-left: 0;

    & > li {
      list-style: none;
    }

    & > li:not(:last-child)::after {
      background: black;
      content: '';
      margin: 0 1em;
      padding: 1px;
    }
  }
}

.socialNav {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  & > ul {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-left: 0;

    & > a:not(:last-child) {
      margin-right: 2em;
    }
  }
}

.socialLi {
  display: block;
  cursor: pointer;
  width: 2.75em;
}
