.skillsetHeading {
  font-size: clamp(2.1em, 8vw, 2.5em);
}

.skillsetList {
  display: grid;
  gap: clamp(0.5rem, 4vw, 1rem);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1rem;
}

.skillsetCard {
  background: hsla(248, 3%, 97%, 0.8);
  border-left: hsl(248, 30%, 44%) solid 2px;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  font-size: 1.6em;
  padding: 0.5rem 1.5rem;

  &:hover {
    background: hsla(248, 3%, 96%, 0.8);
    border-left: hsl(15, 74%, 44%) solid 2px;
    cursor: pointer;
  }
}
