.skillsetHeading {
  font-size: clamp(2em, 4vw, 4em);
  margin-bottom: 3rem;
}

.skillsetList {
  display: grid;
  gap: 2vw;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 1rem 0 0 0;
  width: 100%;
}

.skillsetCard {
  background: hsla(248, 3%, 97%, 0.8);
  border-left: hsl(248, 30%, 44%) solid 2px;
  border-radius: 5px;
  box-shadow: hsla(0, 0%, 0%, 0.1) 0px 1px 2px 0px;
  font-size: 1.8em;
  list-style: none;
  padding: 1rem 1.5rem;
}
