.list {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  margin: 0;
  width: 100%;

  @media (min-width: 850px) {
    gap: 2vw;
    grid-template-columns: repeat(3, calc(33.3% - 1.33vw));
  }
}